.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/state\ liked.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  border: none;
  background-image: url(../images/trash.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/trash\ hover.svg);
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
  }
}
