.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: block;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 20px;
  /*border-padding, border-radius, border-color*/
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
}

@media screen and (max-width: 320px) {
  .modal__submit-btn {
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit-btn {
    width: 276px;
  }
}
