.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  opacity: 40%;
  background-image: url(../images/close\ icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: block;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solids rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  height: 54px;
}

.modal__input:hover {
  color: #212121;
  opacity: o.3;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 100%;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
    height: 48px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}
